* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-actions input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.contact-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .nav-links, .contact-btn {
    display: none; /* Oculta las opciones del menú y el botón de contacto */
  }

  .navbar {
    padding: 10px 20px;
  }

  .nav-actions input {
    width: 100px; /* Reduce el tamaño del campo de búsqueda */
  }
}

.hero {
  background: url("https://imgix-prod.sgs.com/-/media/sgscorp/images/temporary/mineral-and-metal-commodities.cdn.es-CO.1.jpg?auto=format&fit=crop&crop=focalpoint&fp-x=0.5&fp-y=0.6&fp-z=1&w=1440&h=450")
    no-repeat center center/cover;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  text-align: left;
}

.hero-content h1 {
  font-size: 36px;
  font-weight: bold;
}

.hero-content p {
  font-size: 18px;
  margin-top: 10px;
}
